.parent {
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
}

.form-container {
    text-align: center;
}

.form-panel {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.btn-enter {
    margin-top: 20px;
}