body {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

.form {
    display: inline-block;
    text-align: center;
    width: 300px;
}

.btn-enter {
    margin-top: 20px;
}

.form-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
