{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'css/users_style.css' %}">
</head>

<body>
<div class="outer">
    <div class="parent-form">
        <h3>Авторизация</h3>
        <div class="form">
            <form action="{% url "user:login" %}" method="post">
                {% csrf_token %}

                {% include 'includes/notifications.html' %}

                <div class="form-panel">
                    <label for="id_username">Имя пользователя</label>
                    <input type="text" name="username"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}" autofocus
                           required>
                </div>
                <div class="form-panel">
                    <label for="id_password">Пароль</label>
                    <input type="password" name="password" required>
                </div>

                <button class="btn-enter">Войти</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>